@import "./bootstrap_variables.less";

.demographics-content {
  width: 970px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.dog-stats {
  font-family: "Avenir-Bold";
  font-size: 120px;
  letter-spacing: -9px;
  color: @brand-success;
  margin-bottom: -15px;
  .tiny {
    vertical-align: super;
    font-size: 64px;
  }
}

.dog-icon {
  width: 106px;
}