@import "./bootstrap_imports.less";

img {
  width: 600px;
}

.svg-wrapper {
  color: @brand-primary;
  display: inline-block;
  size: auto;

  .icon-caption {
    display: inline-block;
    width: 120px;
    height: 120px;
    font-size: 50px;
    font-weight: bold;
  }
  
  .icon-svg {
    display: inline-block;
    width: 120px;
    height: 120px;
  }
}
