@import "./bootstrap_imports.less";

.listing-wrapper {
  width: 960px;
  margin: 0 auto;
  padding-top: 40px;

  h1 {
    color: @brand-primary;
  }

  p {
    font-size: 32px;
    color: @hoodq-green2;
  }

  .corner-info p {
    float: right;
  }

  .icon-caption {
    color: @brand-primary;
    font-size: 50px;
    font-weight: bold;
    text-align: right;
  }
}
